.Wrapper {
  display: flex;
  border: 1px solid #77aaff;
  border-radius: 6px;
  margin-bottom: 10px;
  height: 26px;
  padding: 4px 10px;
  width: 350px;
  justify-content: space-between;
  background-color: #aaccff;
  color: #fff;
}

.Delete {
  font-weight: 800;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 0 4px;
  cursor: pointer;
}
