.Wrapper {
  display: flex;
  /* align-items: center; */
}

.Input {
  display: block;
  width: 400px;
  height: 26px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 4px 10px;
  outline-color: #999;
  color: #777;
}

.Danger {
  background-color: #cc8888;
  color: #ddd;
}

::placeholder {
  color: #ccc;
}
.Form {
  display: flex;
}

.Button {
  height: 34px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  margin-left: 9px;
  border-radius: 6px;
  text-transform: uppercase;
  color: green;
  font-weight: 400;
  cursor: pointer;
}

.Active {
  font-weight: 600;
  border: 2px solid green;
}

.Characters {
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 30px;
  padding: 2px;
  margin-left: 9px;
  text-align: center;
  display: flex;
  align-items: center;
}
